<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{card.get_tag()}}</title>
    {% include "helper_templates/flash.html" %}
</head>
<body>
    <h3>{{card.get_tag()}}</h3>
    <h5>{{card.citation}}</h5>
    <h4>{{card.text.text}}</h4>
    <button onclick="window.location=window.origin+'\/download\/{{id}}';">Download</button>
    <a href="/dashboard?query={{query}}">Back</a>
</body>
</html>