<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Reset Password</title>
    <script src="{{url_for('static', filename='js/reset_request.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset_request.css')}}">
    {% include "helper_templates/flash.html" %}
</head>
<body>
    <h1>Request Reset Password</h1>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Request Reset Password</button>

    <div id="id01" class="modal">
    
    <form class="modal-content animate" method="POST" action="">
        <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        {{ form.hidden_tag() }}

        <div class="container">
        <label for="eml"><b>Email</b></label>
        {{ form.email }}
            
        {{ form.submit }}
        </div>

        <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
    </div>

    <a href="{{url_for('login')}}">Back to Login</a>
</body>
</html>